<div class="container mt-5">
    <h2>Vehicles</h2>
    <a href="/vehicles/new">REGISTER VEHICLE (Admin & Security Only)</a>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <ul>
                    <% vehicles.forEach(vehicle => { %>
                    <li><%= vehicle.getName() %></li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</div>