<div class="container mt-3">
    <h2>Free up Lots (Admin Only)</h2>

    <form action="/spaces/new" method="post">
        <div>
            <label>Lot number</label>
            <input name="spaceNumber" placeholder="A1, B1, C1" />
        </div>
        <button type="submit">Make lot available</button>
    </form>
</div>