<div class="container mt-3">
    <h2>Create User (Admin)</h2>

    <form action="/users/new" method="post">
        <div>
            <label>First Name</label>
            <input name="firstname" placeholder="John" />
        </div>
        <div>
            <label>Last Name</label>
            <input name="lastname" placeholder="Doe" />
        </div>
        <div>
            <label>Email</label>
            <input name="email" type="email" placeholder="john.doe@email.com" />
        </div>
        <div>
            <label>Password</label>
            <input name="password" type="password" placeholder="******" />
        </div>
        <div>
            <label>Account type :</label>
            <input name="accountType" type="radio" value=Admin /> resident
            <input name="accountType" type="radio" value="visitor" /> visitor
            <input name="accountType" type="radio" value="security" /> security
        </div>




        <button type="submit">Create User</button>
    </form>
</div>