<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <ul>
                    <% users.forEach(user => { %>
                    <li><%= user.getName() %></li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</div>